
.data-header {
  color: #ffffff;
  background-color: #555555;
}

.data-row {
  color: #000000;
  background-color: #ffffff;
}


.paginator {
  color: #000000;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
}
