<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="container">
  <!-- Hinzufügen einer klaren Überschrift -->
  <h1>Verwaltung der Kindergarten-Anmeldungen</h1>
  <h2>Tabellarische Übersicht der Anmeldungen</h2>

  <!-- Filter- und Sortieroptionen -->
  <div class="row justify-content-center align-items-center">
    <!-- Filter Dropdown -->
    <mat-form-field class="col-xl-3">
      <mat-label>Kindergarten auswählen</mat-label>
      <mat-select (selectionChange)="onKindergartenFilterChange($event.value)" matTooltip="Filtern nach Kindergarten">
        <mat-option *ngFor="let kg of storeService.kindergardens" [value]="kg.id">{{kg.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Sortieroptionen -->
    <div class="col-xl-3">
      <button mat-button (click)="onSort('name', 'asc')" matTooltip="Sortieren nach Namen aufsteigend">Name Aufsteigend</button>
      <button mat-button (click)="onSort('name', 'desc')" matTooltip="Sortieren nach Namen absteigend">Name Absteigend</button>
    </div>
    <div class="col-xl-3">
      <button mat-button (click)="onSort('birthDate', 'asc')" matTooltip="Sortieren nach Anmeldedatum aufsteigend">Anmeldedatum Aufsteigend</button>
      <button mat-button (click)="onSort('birthDate', 'desc')" matTooltip="Sortieren nach Anmeldedatum absteigend">Anmeldedatum Absteigend</button>
    </div>
  </div>

  <!-- Kopfzeile der Tabelle -->
  <div class="row justify-content-center align-items-center data-header">
    <!-- Spaltenüberschriften -->
    <p class="col-xl-2 col-lg-3">Name</p>
    <p class="col-xl-2 col-lg-3">Kindergarten</p>
    <p class="col-xl-1 col-lg-1">Adresse</p>
    <p class="col-xl-1 col-lg-1">Alter</p>
    <p class="col-xl-1 col-lg-1">Geburtsdatum</p>
    <p class="col-xl-1 col-lg-1"></p>
  </div>

  <!-- Datenzeilen -->
  <div *ngFor="let child of storeService.children" class="row justify-content-center align-items-center data-row">
    <!-- Datenfelder für jedes Kind -->
    <p class="col-xl-2 col-lg-3">{{child.name}}</p>
    <p class="col-xl-2 col-lg-3">{{child.kindergarden.name}}</p>
    <p class="col-xl-1 col-lg-1">{{child.kindergarden.address}}</p>
    <p class="col-xl-1 col-lg-1">{{getAge(child.birthDate)}}</p>
    <p class="col-xl-1 col-lg-1">{{child.birthDate | date:'longDate'}}</p>
    <div class="col-xl-1 col-lg-1">
      <button mat-button (click)="cancelRegistration(child.id)" matTooltip="Kind von der Liste abmelden">Kind abmelden</button>
    </div>
    <div class="col-xl-1 col-lg-1">
      <a [routerLink]="['/kindergarten', child.kindergardenId]" mat-button matTooltip="Zu den Details des Kindergartens">Details</a>
    </div>
  </div>

  <!-- Paginator -->
  <div class="row paginator">
    <div class="col-12 d-flex justify-content-center">
      <button mat-button [ngClass]="page == currentPage ? 'active' : ''" (click)="selectPage(page)" type="button"
              *ngFor="let page of returnAllPages()" matTooltip="Seite auswählen">{{page}}</button>
    </div>
  </div>
</div>
