<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form *ngIf="addChildForm" [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
    <h1>Kindergarten-Anmeldung</h1>
    <h2>Ihr Kind anmelden</h2>

    <mat-form-field>
      <mat-label>Name Ihres Kindes</mat-label>
      <input matInput placeholder="Name" formControlName="name" matTooltip="Geben Sie den Namen Ihres Kindes ein">
      <mat-error *ngIf="addChildForm.get('name')?.touched && addChildForm.get('name')?.errors?.['required']">
        Bitte geben Sie den Namen ein.
      </mat-error>
      <mat-error *ngIf="addChildForm.get('name')?.errors?.['maxlength']">

        Der Name darf maximal 50 Zeichen lang sein.
      </mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <mat-label>Geburtsdatum Ihres Kindes</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum" formControlName="birthDate"
             matTooltip="Geben Sie das Geburtsdatum Ihres Kindes ein">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addChildForm.get('birthDate')?.touched && addChildForm.get('birthDate')?.errors?.['required']">
        Bitte geben Sie das Geburtsdatum ein.
      </mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <mat-label>Wählen Sie einen Kindergarten</mat-label>
      <mat-select formControlName="kindergardenId" matTooltip="Wählen Sie den Kindergarten für Ihr Kind">
        <mat-option value="" disabled>Bitte auswählen</mat-option>
        <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
          {{kindergarden.name}}, {{kindergarden.address}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="addChildForm.get('kindergardenId')?.touched && addChildForm.get('kindergardenId')?.errors?.['required']">
        Bitte wählen Sie einen Kindergarten aus.
      </mat-error>
    </mat-form-field>
    <br/>

    <button mat-button type="submit" matTooltip="Klicken Sie hier, um Ihr Kind anzumelden">Erfassen</button>
  </form>

  <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 1050;">
    <div class="toast" style="position: absolute; top: 0; right: 0;" id="successToast">
      <div class="toast-header">
        <strong class="mr-auto">Kindergarten App</strong>
        <small>gerade eben</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Das Kind wurde erfolgreich angemeldet!
      </div>
    </div>
  </div>
</div>
