<div class="about-page-container">
  <h1>Über Unsere Kindergarten-App</h1>
  <p>
    Willkommen zur Kindergarten-App, Ihrer vertrauenswürdigen Plattform für die Verwaltung und Organisation von
    Kindergarten-Anmeldungen.
    Unsere App ist darauf ausgelegt, Eltern, Erzieherinnen und Erziehern sowie Kindergartenleitungen eine einfache und
    effiziente Möglichkeit zu bieten,
    Anmeldungen zu verwalten und relevante Informationen über die verschiedenen Kindergärten zu erhalten.
  </p>

  <h2>Unsere Vision</h2>
  <p>
    Wir glauben, dass die Anmeldung und Verwaltung von Kindergartenplätzen so einfach und stressfrei wie möglich sein
    sollte.
    Mit unserer benutzerfreundlichen Oberfläche und einer Vielzahl von Funktionen arbeiten wir stetig daran, diesen
    Prozess für alle Beteiligten zu optimieren.
  </p>

  <h2>Unsere Funktionen</h2>
  <ul>
    <li>Einfache Anmeldung und Abmeldung von Kindern in Kindergärten</li>
    <li>Umfassende Übersicht über Kindergärten, inklusive Adressen und Spezialangeboten</li>
    <li>Detaillierte Informationen und Bildergalerien zu den einzelnen Einrichtungen</li>
    <li>Filter- und Sortierfunktionen für eine effiziente Suche</li>
  </ul>

  <h2>Kontakt</h2>
  <p>Für weitere Informationen oder bei Fragen stehen wir Ihnen gerne zur Verfügung. Kontaktieren Sie uns über unsere
    Webseite oder per E-Mail.</p>
</div>
