<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="kindergarten-detail-container">
  <h1>Details zum Kindergarten: {{ kindergarten?.name }}</h1>

  <div class="details">
    <p><strong>Adresse:</strong> {{ kindergarten?.address }}</p>
    <p><strong>Typ:</strong> {{ kindergarten ? (kindergarten.typ | typTransform) : 'Unbekannt' }}</p>
  </div>

  <div class="gallery">
    <h2>Bildergalerie</h2>
    <div class="images">
      <img *ngIf="kindergarten" [src]="getKindergartenImageUrl(kindergarten.id)" alt="Kindergarten Bild">
    </div>
  </div>
</div>
